<%- include("partials/header") -%>

    <!-- Modal customer START -->
    <div class="modal fade" id="customerTrans" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: black;" class="modal-title" id="exampleModalLabel">Customer's Transactions History</h5>
            </div>
            <div class="modal-body" style="color: black; height: 30rem; overflow-y: scroll;">
                <%for(var i = CustomerTrans.length-1; i >= 0; i--){%>
                    <div class="trans-info card">
                        <div class="card-body trans-details">
                            <span>Name: <%=CustomerTrans[i].name%></span>
                            <br>
                            <span>Transaction ID: <%=CustomerTrans[i].transid%></span>
                            <br>
                            <span>Amount Transfered: Rs. <%=CustomerTrans[i].amount%></span>
                            <br>
                            <span class="trans-time"><%=CustomerTrans[i].date%></span>
                        </div>
                    </div>
                    <br>
                <%}%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Modal customer end -->
    
    <section class="customer-details">
        <div class="container customer-container">
            <h1 class="customer-details-header">Customer Details</h1>

            <div class="card w-100 customer-details-card">
                <div class="card-body customer-details-cred">
                    <div class="row">
                        <div class="col-lg-6">
                            <p><span style="font-weight: bolder;">Customer's Name:</span> <%= Details.fname %> <%= Details.lname %></p>
                            <p><span style="font-weight: bolder;">Account Number:</span> <%= Details.ano %></p>
                            <p><span style="font-weight: bolder;">Current Balance:</span> Rs. <%= Details.balance %></p>
                            <p><span style="font-weight: bolder;">Bank Name:</span> <%= Details.bank %></p>
                        </div>
                        <div class="col-lg-6">
                            <p><span style="font-weight: bolder;">Email Id:</span> <%= Details.email %></p>
                            <p><span style="font-weight: bolder;">Phone Number:</span> <%= Details.phone %></p>
                            <p><span style="font-weight: bolder;">Home Address:</span> <%= Details.address %></p>
                            <p><span style="font-weight: bolder;">Account created on:</span> <%= Details.date %></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="/transferto/<%= Details._id %>"><button style="margin-right: 0.5rem;font-family: 'Roboto', sans-serif; font-weight: bold; margin-top: 1.2rem;" type="button" class="btn btn-success w-100">Transfer Money</button></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="#" data-toggle="modal" data-target="#customerTrans"><button style="font-family: 'Roboto', sans-serif; font-weight: bold; margin-top: 1.2rem;" type="button" class="btn btn-warning w-100">Customer's Transaction History</button></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer") -%>
